/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&family=Ultra&display=swap');
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ultra', serif;
  text-align: center;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}
